#sale,
#S,
#option_2{
  color: #1777FC !important;
}
#averagePriceBeforeSPP,
#M,
#option_4{
  color: #66DA26 !important;
}
#ordersCount{
  color: #546E7A !important;
}
#orders,
#L,
#option_1{
  color: #E91E63 !important;
}
#ddr,
#XXL,
#option_5{
  color: #FF9800 !important;
}
#logistics,
#XXXL,
#option_3{
  color: #93ACAF !important;
}
#returns{
  color: #374151 !important;
}
#profit{
  color: #86D309 !important;
}